<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jayson.komm.common">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".view.page.ShowPictureActivity"
            android:exported="false" />
    </application>

</manifest>